
@{
    ViewBag.Title = "DatHang";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}
@using ShopGiayNhom09.Models;
@model List<GioHang>
<h1 style="color:blue;"><i>Đơn đặt hàng</i></h1>
<table align="center" border="1">
    <tr style="text-align:center; font-weight:bold;">
        <td>Mã giày</td>
        <td>Tên giày</td>
        <td>Ảnh bìa</td>
        <td>Số lượng</td>        
        <td>Đơn giá</td>
        <td>Thành tiền</td>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td width="12%">@item.iMaGiay</td>
            <td width="26%">@item.sTenGiay</td>
            <td width="22%"><img src="~/imgSP/@item.sAnhBia" width="100%" /></td>
            @using(Html.BeginForm("capNhat","GioHang",new{@mag = item.iMaGiay}))
            {
                <td width="12%"><input type="number"  min="1" name="txtSoLuong" value="@item.iSoLuong" size="2"/></td>
                <td width="12%">@String.Format("{0:0,0}",item.dDonGia)</td>
                <td width="16%">@String.Format("{0:0,0}",item.dThanhTien)</td>
            }
        </tr>
    }
    <tr>
        <td colspan="3" style="color:blue; font-weight:bold;text-align:right;">Tổng cộng:</td>
        <td style="color:red;">Số lượng: @ViewBag.TongSoLuong</td>
        <td></td>
        <td colspan="4" style="color:red; font-weight:bold;text-align:left;">Thành tiền: @String.Format("{0:0,0}", ViewBag.TongThanhTien) VNĐ</td>
    </tr>
</table>

<h1 style="color:blue;"><i>Thông tin đặt hàng</i></h1>
@{
    KhachHang kh = (KhachHang)Session["taikhoan"];
}
<table align="center">
    @using (Html.BeginForm())
    {
        <tr>
            <td>Họ tên Khách Hàng:</td>
            <td style="font-weight:bold;">@kh.HoTen</td>
        </tr>
        <tr>
            <td>Địa chỉ:</td>
            <td style="font-weight:bold;">@kh.DiaChi</td>
        </tr>
        <tr>
            <td>Điện thoại:</td>
            <td style="font-weight:bold;">@kh.DienThoai</td>
        </tr>
        <tr>
            <td>Ngày đặt:</td>
            <td>@DateTime.Now.ToShortDateString()</td>
        </tr>
        <tr>
            <td>Ngày giao:</td>
            <td>
                <input type="date" name="NgayGiao"/>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" class="btn btn-primary" value="ĐỒNG Ý ĐẶT HÀNG" /></td>
        </tr>
    }
</table>

