
@{
    ViewBag.Title = "showSanPham2";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}
@using ShopGiayNhom09.Models;
@model List<Giay>
<table>
    <h1 style="color:blue;"><i>Danh sách sản phẩm</i></h1>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-4">
                <img src="@Url.Content("~/imgSP/"+item.AnhBia)" width="80%" height="70%" alt="Image" />

                <p>
                    <strong style="color:black;" title="@item.TenGiay">@item.TenGiay</strong><br />
                    <strong style="color:red;" title="@item.GiaBan">Giá bán: @string.Format("{0:0,0}", item.GiaBan) VNĐ</strong><br />
                    <a href="@Url.Action("xemChiTiet", "QLBanGiay", new { @maGiay = item.MaGiay})">Xem chi tiết</a>
                </p>
                <div class="clear"></div>
            </div>
        }
    </div>
</table>

